<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= question.position %>
  </p>

  <p>
    <strong>Question source type:</strong>
    <%= question.question_source_type %>
  </p>

  <p>
    <strong>Required:</strong>
    <%= question.required %>
  </p>

  <p>
    <strong>Question source value:</strong>
    <%= question.question_source_value %>
  </p>

  <p>
    <strong>Answer type:</strong>
    <%= question.answer_type %>
  </p>

  <p>
    <strong>Questionnaire:</strong>
    <%= question.questionnaire_id %>
  </p>

</div>
