<section class='section'>
  <div class="is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">Question</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= link_to 'Dodaj Question', new_questionnaire_question_path, class: "button is-primary" %>
        </div>
      </div>
    </div>
  </div>
  <div class='card has-table'>
    <div class='card-content'>
      <div class='table-wrapper'>
        <table class='table is-striped is-hoverable is-fullwidth'>
          <thead>
            <tr>
              <th><%= Question.human_attribute_name(:name) %></th>
              <th><%= Question.human_attribute_name(:position) %></th>
              <th><%= Question.human_attribute_name(:question_source_type) %></th>
              <th><%= Question.human_attribute_name(:required) %></th>
              <th><%= Question.human_attribute_name(:question_source_value) %></th>
              <th><%= Question.human_attribute_name(:answer_type) %></th>
              <th><%= Question.human_attribute_name(:questionnaire) %></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @questions.each do |question| %>
              <tr>
                  <td><%= question.name %></td>
                  <td><%= question.position %></td>
                  <td><%= question.question_source_type %></td>
                  <td><%= question.required %></td>
                  <td><%= question.question_source_value %></td>
                  <td><%= question.answer_type %></td>
                  <td><%= question.questionnaire_id %></td>
                  <td>
                  <div class='buttons is-right'>
                    <%= link_to [@questionnaire, question], class: 'button is-small is-primary' do %>
                      <span class="icon is-small"><i class="fas fa-newspaper"></i></span>
                    <% end %>
                    <%= link_to edit_questionnaire_question_path(@questionnaire, question), class: 'button is-small is-info' do %>
                      <span class="icon is-small"><i class="fas fa-pen-to-square"></i></span>
                    <% end %>
                    <%= link_to [@questionnaire, question], method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'button is-danger is-small' do %>
                      <span class="icon is-small"><i class="fas fa-trash-can"></i></span>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
