<section class='section'>
  <div class="columns">
    <div class="column">
            <p>
        <strong><%= Question.human_attribute_name(:name) %>:</strong>
              <%= @question.name %>
            </p>

            <p>
        <strong><%= Question.human_attribute_name(:position) %>:</strong>
              <%= @question.position %>
            </p>

            <p>
        <strong><%= Question.human_attribute_name(:question_source_type) %>:</strong>
              <%= @question.question_source_type %>
            </p>

            <p>
        <strong><%= Question.human_attribute_name(:required) %>:</strong>
              <%= @question.required %>
            </p>

            <p>
        <strong><%= Question.human_attribute_name(:question_source_value) %>:</strong>
              <%= @question.question_source_value %>
            </p>

            <p>
        <strong><%= Question.human_attribute_name(:answer_type) %>:</strong>
              <%= @question.answer_type %>
            </p>

            <p>
        <strong><%= Question.human_attribute_name(:questionnaire) %>:</strong>
              <%= @question.questionnaire_id %>
            </p>


      <hr>

      <div class='buttons'>
        <%= link_to I18n.t('.edit'), edit_questionnaire_question_path(@questionnaire, @question), class: 'button is-primary' %>
        <%= link_to I18n.t('.back'), questionnaire_questions_path, class: 'button is-light' %>
      </div>
    </div>
    <div class="column">
      <div class='content'>
        <ul>
          <% @question.answers.each do |answer| %>
            <% if answer.correct %>
              <li>
                <%= answer.name %>
                <span class="icon has-text-success">
                  <i class="fas fa-check-square"></i>
                </span>
              </li>
            <% else %>
              <li>
                <%= answer.name %>
                <span class="icon has-text-danger">
                  <i class="fas fa-check-square"></i>
                </span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <%= render 'answers/form', answer: @question.answers.new, show_back: false %>
    </div>
  </div>
</section>
