<%= form_with(model: [@questionnaire, @question, answer]) do |form| %>
  <div class='field is-horizontal'>
    <div class='field-label is-normal'>
      <%= form.label :name, class: 'label' %>
    </div>
    <div class='field-body'>
      <div class='field'>
        <div class='control'>
          <% input_class = answer.errors[:name].present? ? 'input is-danger' : 'input' %>
          <%= form.text_field :name, class: input_class %>
          <%= content_tag :p, answer.errors[:name].to_sentence, class: "help is-danger" %>
        </div>
      </div>
    </div>
  </div>

  <div class='field is-horizontal'>
    <div class='field-label is-normal'>
      <%= form.label :correct, class: 'label' %>
    </div>
    <div class='field-body'>
      <div class='field'>
        <div class='control'>
          <% input_class = answer.errors[:correct].present? ? 'input is-danger' : 'input' %>
          <%= form.label :correct, class: 'checkbox' do %>
            <%= form.check_box :correct %>
          <% end %>
          <%= content_tag :p, answer.errors[:correct].to_sentence, class: "help is-danger" %>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal"></div>
    <div class="field-body">
      <div class="field">
        <div class="field-body">
          <div class="field is-grouped">
            <div class="control">
              <%= form.submit class: 'button is-success' %>
              <% if show_back %>
                <%= link_to I18n.t('.back'), [@questionnaire, @question], class: 'button is-light' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
