<section class='section'>
  <div class='columns'>
    <div class='column'>
      <div class='card has-table'>
        <div class='card-content'>
                <p>
            <strong><%= Questionnaire.human_attribute_name(:name) %>:</strong>
                  <%= @questionnaire.name %>
                </p>

                <p>
            <strong><%= Questionnaire.human_attribute_name(:state) %>:</strong>
                  <%= @questionnaire.state %>
                </p>

          <hr>

          <div class='buttons'>
            <%= link_to I18n.t('.edit'), edit_questionnaire_path(@questionnaire), class: 'button is-primary' %>
            <%= link_to I18n.t('.back'), questionnaires_path, class: 'button is-light' %>
          </div>
        </div>
      </div>

      <div class='box'>
        <%= render 'questions/form', question: @questionnaire.questions.new, show_back: false %>
      </div>
    </div>
    <div class='column'>
      <div class='card has-table'>
        <div class='card-content'>
          <%= render 'questions/small_table', questions: @questionnaire.questions.order(position: :asc), show_back: false %>
        </div>
      </div>
    </div>
  </div>
</section>
