<section class='section'>
  <div class="is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title"><%= plural_table_name.classify.constantize.model_name.human %></h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%%= link_to 'Add <%= singular_table_name.classify.constantize.model_name.human %>', new_<%= singular_route_name %>_path, class: "button is-primary" %>
        </div>
      </div>
    </div>
  </div>
  <div class='card has-table'>
    <div class='card-content'>
      <div class='table-wrapper'>
        <table class='table is-striped is-hoverable is-fullwidth'>
          <thead>
            <tr>
        <% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%%= <%= singular_table_name.classify.constantize %>.human_attribute_name(:<%= attribute.singular_name %>) %></th>
        <% end -%>
      <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
              <tr>
                <% attributes.reject(&:password_digest?).each do |attribute| -%>
  <td><%%= <%= singular_table_name %>.<%= attribute.column_name %> %></td>
                <% end -%>
  <td>
                  <div class='buttons is-right'>
                    <%%= link_to <%= model_resource_name %>, class: 'button is-small is-primary' do %>
                      <span class="icon is-small"><i class="fas fa-newspaper"></i></span>
                    <%% end %>
                    <%%= link_to edit_<%= singular_route_name %>_path(<%= singular_table_name %>), class: 'button is-small is-info' do %>
                      <span class="icon is-small"><i class="fas fa-pen-to-square"></i></span>
                    <%% end %>
                    <%%= link_to <%= model_resource_name %>, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'button is-danger is-small' do %>
                      <span class="icon is-small"><i class="fas fa-trash-can"></i></span>
                    <%% end %>
                  </div>
                </td>
              </tr>
            <%% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
