<section class='section'>
  <div class='card has-table'>
    <div class='card-content'>
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
      <p>
        <strong><%%= <%= singular_table_name.classify.constantize %>.human_attribute_name(:<%= attribute.singular_name %>) %>:</strong>
      <% if attribute.attachment? -%>
        <%%= link_to @<%= singular_table_name %>.<%= attribute.column_name %>.filename, @<%= singular_table_name %>.<%= attribute.column_name %> if @<%= singular_table_name %>.<%= attribute.column_name %>.attached? %>
      <% elsif attribute.attachments? -%>
        <%% @<%= singular_table_name %>.<%= attribute.column_name %>.each do |<%= attribute.singular_name %>| %>
          <div><%%= link_to <%= attribute.singular_name %>.filename, <%= attribute.singular_name %> %></div>
        <%% end %>
      <% else -%>
        <%%= @<%= singular_table_name %>.<%= attribute.column_name %> %>
      <% end -%>
      </p>

      <% end -%>

      <hr>

      <div class='buttons'>
        <%%= link_to I18n.t('.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'button is-primary' %>
        <%%= link_to I18n.t('.back'), <%= index_helper %>_path, class: 'button is-light' %>
      </div>
    </div>
  </div>
</section>
